body {
    height: 600px;
    width: 500px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: blue
}


#data {
    font-size: 22px;
}

.buttons {
    background-color: rgb(73, 116, 233);
    border: solid 1px transparent;
    border-radius: 4px;
    color: white;
    padding: 10x 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.bodies{
  margin: 50px;  
}